body {
	font: 92% arial, helvetica, sans-serif;
	color: #333;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

table th {
	padding-top: 7px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

table td {
	font: 92% arial, helvetica, sans-serif;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

a {
	font: 100% helvetica, arial, sans-serif;
	text-decoration: none;
	color: #5b6064;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3em;
}

input {
	text-align: center;
}

input:focus {
	outline-offset: -2px;
}

input[type="submit"],input[type="button"],input[type="reset"] {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 4px;
	padding-bottom: 4px;
	display: inline-block;
	line-height: 1;
	direction: ltr;
	background-color: #4d90fe;
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover
	{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe),
		to(#4787ed) );
	border: 1px solid #2f5bb7;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
}

input[type="submit"]:active,input[type="button"]:active,input[type="reset"]:active
	{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d91de),
		to(#4787ed) );
	border: 1px solid #2f5bb7;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
}

input[type="text"],input[type="email"],input[type="password"],input[type="date"]
	{
	text-align: right;
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	height: 27px;
	margin: 0;
	padding: 0 8px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

input[type="text"]:hover,input[type="email"]:hover,input[type="password"]:hover,input[type="date"]:hover
	{
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="date"]:focus
	{
	outline: none;
	border: 1px solid #4d90fe;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

input:[type='chechbox'] {
	height: 5px;
	width: 5px;
}

.table {
	margin-left: 4em;
	font: normal 13px arial, sans-serif;
	line-height: 1;
	text-align: left;
	padding: 10px 10px 10px;
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
}

#table_title {
	
}

#table_title {
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #666;
	padding-bottom: 1em;
	margin-left: 4em;
	margin-top: 1em;
	float: none;
}

h1 {
	font: 100% arial, helvetica, sans-serif;
	line-height: 1;
	text-align: left;
}

#label {
	color: #222;
	font: normal 13px arial, sans-serif;
}

.modalDialog {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 0.9);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	background: rgba(255, 255, 255, 0.9);
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: relative;
	float: right;
	text-align: center;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff;
}

.divisor {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 4em;
	width: 90%;
	border-bottom: 1px solid #ebebeb;
	clear: left;
}

#precio_total {
	text-align: right;
}